@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../img/HEADER-POSTER.jpg);
    margin: auto;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 46%;
}
.header_layer{
    position: absolute;
    background-color: #2d11426b;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.controler{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.container{
    width: 95%;
    margin: auto;
}
.icon{
    text-transform: uppercase;
}
.icon h3{
    color: white;
    padding: 0px;
}
.icon h1{
    font-size: 12px;
    font-weight: 100;
    color: white;
    padding: 0px;
}
.nav{text-transform: uppercase;}
.nav ul{
}
.nav ul li{
    list-style: none;
    display: inline-block;
    transition: all 0.4s;
}
.nav ul li:hover{

border: 2px solid white;

border-radius: 14px;
}
.nav ul li a{
    text-decoration: none;
    font-size: 12px;
    color: white;
    padding: 13px;
}
.nav ul li a:hover{

color: #d85c7e;
}
.gift{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10% 0;
    align-items: center;
}
.gift h3{
    color: white;
    font-size: 22px;
    font-style: italic;
    text-transform: uppercase;
}
.gift h1{
    color: white;
    font-size: 42px;
    text-transform: uppercase;
    padding: 50px;
}
.btn{
    font-weight: bolder;
    color: white;
    background: #fc225794;
    border: 1px;
    padding: 15px;
    border-radius: 30px;
    font-size: 10px;
    text-transform: uppercase;
    transition: all 0.6s;
    margin: 5px;
}
.btn:hover{
    background: #FC2257;

}
/*----------------------------------------------adam start --------------------------------*/

.adam{
    background-color: #efeeee;
    padding: 30px;
}
.admtxt{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.admtxt h3{
    font-size: 12px;
    font-weight: 100;
    font-style: italic;
    padding: 3px;
    color: #8c8c8c;
} 
.admtxt h2{
    padding: 5px;
    color: #8c8c8c;
    font-size: 11px;
    text-transform: uppercase;
}

/*----------------------------------------------adam end --------------------------------*/



/*----------------------------------------------event start --------------------------------*/
.event{padding-top: 90px;padding-bottom: 90px;}
.event_controler{}
.upcoming{
    /* display: flex; */
}
.upcoming h1{display: flex;justify-content: center;text-transform: uppercase;padding: 10px;}
.upcoming span{
    height: 1px;
    background: #f67896;
    padding-right: 60px;
    display: flex;
    justify-content: center;
    max-width: 60px;
    margin: 10px auto;
}

.event_IMG{
    display: flex;
    justify-content: space-around;
}
.event_IMG1{
}
.event_IMG1 img{
    padding: 20px;
}
.event_IMG1 h2{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
.event_IMG1 h3{
    font-size: 12px;
    font-weight: 300;
    max-width: 390px;
    text-align: center;
    color: #8c8c8c;
    padding: 10px;
}
.event_IMG2{}
.event_IMG2 img{
    padding: 20px;
}
.event_IMG2 h2{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
.event_IMG2 h3{
    font-size: 12px;
    font-weight: 300;
    max-width: 390px;
    text-align: center;
    color: #8c8c8c;
    padding: 10px;
}
.event_IMG2 h4{

        font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: #f67896;
}
.event_IMG2 h4:hover{
    font-size: 16px;
    transition: all 0.4s;
}
.event_IMG1 h4{

        font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: #f67896;
}
.event_IMG1 h4:hover{
    font-size: 16px;
    transition: all 0.4s;
}

/*----------------------------------------------event end --------------------------------*/


/*----------------------------------------------explor start --------------------------------*/
.explore{}
.explor_img{
    background-image: url(../img/adventure-calm-clouds-414171.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.explore_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 150px 0 150px 50%;
}
.explore_text h1{
    color: white;
    text-transform: uppercase;
    max-width: 169px;
    padding-bottom: 20px;
}
.explore_text span{
    height: 1px;
    background: #f67896;
    padding-right: 60px;
    display: flex;
    justify-content: center;
    max-width: 60px;
    margin: 10px 0;
    margin-bottom: 30px;
}
.explore_text h5{
    color: white;
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 50px;
    text-transform: capitalize;
}
.explore_text h4{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    color: white;
}
.explore_text h4:hover{
    font-size: 16px;
    color: #bf406b;
    transition: all 0.4s;
}


/*----------------------------------------------explor end --------------------------------*/

/*----------------------------------------------tour start --------------------------------*/
.tours{
    margin: 150px 0 110px 0;
}
.tour_controler{
    display: flex;
    justify-content: center;
}
.tour_text{
    display: inline-block;
    padding: 0 60px;
}
.tour_text h1{
    text-transform: uppercase;
    padding-bottom: 20px;
}
.tour_text span{
    height: 1px;
    background: #f67896;
    padding-right: 60px;
    display: flex;
    justify-content: center;
    max-width: 60px;
    margin: 10px 0;
    margin-bottom: 30px;
}
.tour_text h5{
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 50px;
    text-transform: capitalize;
}
.tour_text input{
    font-weight: bolder;
    color: white;
    background: #fc225794;
    border: 1px;
    padding: 15px;
    border-radius: 30px;
    font-size: 10px;
    text-transform: uppercase;
    transition: all 0.6s;
}
.tour_text input:hover{
    font-size: 12px;
    color: #bf406b;
    transition: all 0.4s;
}

.tour_img1{
    max-width: 300px;
    /* display: inline-block; */
    margin-right: 7px;
    padding: 7px;
}
.tour_img2{
    max-width: 300px;
    margin: 7px;
    padding-left: 7px;
}

.tour_img2 img{
    display: block;
    margin: 14px;
}
.tour_img1 img{display: block;margin: 14px;}


/*----------------------------------------------tour end --------------------------------*/

/*----------------------------------------------footer start --------------------------------*/
footer{
    width: 100%;
    background: black;
}
.footer_text{
    padding: 40px 0;
}
.footer_text h6{
    text-transform: capitalize;
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 10px;
    font-weight: 100;
}
/*----------------------------------------------footer  end --------------------------------*/
